@tailwind base;
@tailwind components;
@tailwind utilities;



.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

input::placeholder{
    text-align: center;
}

.bgImg {
  background-image: url(./assets/bg-2.jpg);
}


.bgImg2 {
  background-image: url(./assets/bg.jpg);
}

